<!DOCTYPE html>
<html lang="en">

<header>
 <% include ./partials/_header %>
</header>

<body>
 <% for (url in urls) { %>
   <%= url %> - <%= urls[url] %>
   <a href='/urls/<%= url %>'><button type="submit">Edit</button></a>
   <form method='POST' action='/urls/<%= url %>?_method=DELETE'>
     <button type="submit">Delete</button>
   </form>
 <% }; %>
</body>
</html>

<!-- <form method="POST" action="/urls/9sm5xK?_method=DELETE">...</form> -->