<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
<% include partials/_header %>
    <table>
      <tbody>
        <tr>
          <td>
            <ul>
              <% urlDatabase.forEach(function(url) { %>
              <li><a href =<%= url.fullUrl %>><%= url.fullUrl %></a></li>
              <% }); %>
            </ul>
          </td>
          <td>
            <ul>
              <% urlDatabase.forEach(function(url) { %>
              <li>
                <a href =<%= url.fullUrl %>><%= url.shortUrl %></a></li>
              <% }); %>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>